//productsBanner區塊
.productsBanner {
  background: url('assets/images/wonderlane-GBHhIyWftHs-unsplash.jpg');
  background-size: cover;
  background-position: 0 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .productsBanner {
    height: 150px;
  }
}
.productMenu .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.5s;
}
.iconActive {
  transform: rotate(-180deg);
  transition: transform 0.5s;
}
.cardList .pictureBtn {
  position: absolute;
  color: #000;
  font-weight: bold;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s;
}
.cardList .pictureArea:hover .pictureBtn {
  opacity: 0.7;
}
// .hoverText {
//   position: absolute;
//   color: #000;
//   font-weight: bold;
//   top: 10%;
//   left: 5%;
//   width: 90%;
//   height: 80%;
//   opacity: 0;
//   // display: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: opacity 0.7s;
// }
.pieceBtnArea {
  position: absolute;
  top: 32px;
  left: 0;
}
.pieceBtn {
  border-width: 1px;
  color: $dark;
  background: #fff;
  margin-right: 8px;
}
.pieceBtn:nth-last-child(1) {
  margin-right: 0;
}
.pieceBtn:hover {
  background: $dark;
  color: #fff;
}
.pieceBtn.active {
  background: $dark;
  color: #fff;
  cursor: auto;
}
.pieceBtn.active:hover {
  background: $dark;
  color: #fff;
}
// .searchBtn {
//   padding: 0;
//   width: 28px;
//   border: 1px solid #000;
//   border-radius: 2px;
// }
// .productCard .searchBtn {
//   position: absolute;
//   top: -150px;
//   z-index: 1;
// }
.productCard .favoriteArea {
  position: absolute;
  top: -8px;
  z-index: 1;
}
.favoriteArea {
  padding: 0;
  background: none;
  border: none;
}
.card .favoriteArea i {
  font-size: 32px;
}
.favoriteArea .hover,
.favoriteArea:hover .icon,
.favoriteArea.active .icon,
.favoriteArea.active:hover .hover {
  display: none;
}
.favoriteArea:hover .hover,
.favoriteArea.active .hover,
.favoriteArea.active:hover .icon {
  display: block;
}
@media (max-width: 768px) {
  .favoriteArea:hover .hover,
  .favoriteArea.active:hover .icon {
    display: none;
  }
  .favoriteArea:hover .icon,
  .favoriteArea.active:hover .hover {
    display: block;
  }
}
