.sigInBanner {
  background: url('assets/images/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg');
  background-size: cover;
  background-position: 0 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signInArea {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
