body {
  font-family: 'Microsoft JhengHei';
  line-height: 1.5;
}
button:disabled {
  cursor: not-allowed;
}
.btn:disabled {
  pointer-events: auto;
}
.nav .nav-link,
.nav i:not(.qtyBtn i) {
  color: rgba($color: #fff, $alpha: 0.55);
}
.nav .linkActive {
  color: #fff;
  font-weight: bold;
}
.mobileMenuBtn {
  font-size: 32px;
  border: 1px solid rgba($color: #fff, $alpha: 0.55);
}
.btn-primary {
  color: #494843;
  font-weight: bold;
}
.btn-primary:hover {
  color: #494843;
}
.nav .title,
.footer .title {
  color: #fff;
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
  line-height: 1;
  text-decoration: none;
}
.cartBtn i {
  font-size: 24px;
}
.cartBtn .cartNum {
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  font-size: 12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}
.mobileMenu li {
  text-align: center;
}
.wrap {
  min-height: calc(100vh - 202px);
  margin-top: 84px;
}
.titleArea {
  padding: 2rem 4rem;
  background: rgba(0, 0, 0, 0.8);
}
.titleArea h2 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
.cartPictureArea {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdownCartList {
  width: 400px;
  max-height: 450px;
}
.dropdownCartList .productLi {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.dropdownCartList .favoriteLi {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.dropdownCartList .favoriteLi:nth-last-child(1) {
  border-bottom: none;
}
.dropdownCartList .favoriteLi:hover,
.dropdownCartList .productLi:hover {
  background: rgba(0, 0, 0, 0.075);
}
.dropdownCartList .deleteBtn {
  background: none;
  border: none;
}
.dropdownCartList .deleteBtn i {
  font-size: 32px;
}
.dropdownCartList .totalPrice {
  font-size: 24px;
}
.qtyBtn {
  background: none;
  border: none;
  padding: 0;
  color: #212529;
}
.qtyBtn .hover {
  display: none;
}
.qtyBtn:hover .icon {
  display: none;
}
.qtyBtn:hover .hover {
  display: inline;
}
.qtyBtn:disabled {
  color: rgba(0, 0, 0, 0.3);
}
.qtyBtn:disabled:hover .icon {
  display: inline;
}
.qtyBtn:disabled:hover .hover {
  display: none;
}
.deleteBtn:hover {
  opacity: 0.5;
}
.dropdownCartList .qty {
  width: 25px;
  text-align: center;
}

@media (max-width: 414px) {
  .dropdownCartList {
    width: 350px;
  }
  .dropdownCartList .cartPictureArea {
    display: none;
  }
  .favoriteLi .cartPictureArea {
    display: flex;
  }
  .qtyBtn:hover .hover {
    display: none;
  }
  .qtyBtn:hover .icon {
    display: inline;
  }
  .qtyBtn:active .icon {
    display: none;
  }
  .qtyBtn:active .hover {
    display: inline;
  }
}
//NotFount頁
.notFound i {
  font-size: 128px;
}
